* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
  background: url("img/bacground.png");
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/*MENU I BANER */
header {
  width: 100%;
  margin-bottom: 150px;
}


nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #164a56;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner_btn {
  width: 16%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #5cb47f;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.banner_btn:hover {
  transform: scale(1.2);
}

.logo {
  width: 300px;
  border-bottom-right-radius: 100px;
  background-color: #164a56;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  margin-right: 70px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(92, 180, 127, 0.2);
  padding: 10px;
  border-radius: 100px;
}

nav > ul > li > a:hover {
  color: #5cb47f;
}

.active {
  color: #5cb47f;
}
h4
{
	
 width: 100%;
 font-size:30px;
    height: 70px;
    color: white;
    background-color: #5cb47f;
    display: flex;
    justify-content: center;
    align-items: center;
	
	
}
h5
{
 width: 100%;
 font-size:30px;
    height: 60px;
    color: white;
    background-color: #5cb47f;
    display: flex;
    justify-content: center;
    align-items: center;
	
	
	
}
/* STOPKA */
footer {
  width: 100%;
  height: 275px;
  text-align: center;
  background-color: #091c20;
  color: #fff;
  font-size: 8pt;
  justify-content: center;
  align-items: center;
}

footerwithtext {
  width: 100%;
  height: 275px;
  text-align: center;
  background-color: #091c20;
  color: #fff;
  font-size: 8pt;
  justify-content: center;
  align-items: center;
}

hr {
  border: 2px solid #5cb47f;
  padding: 3px;
  background-color: #5cb47f;
}

footer h1 {

    padding: 20px;
}

footer p {
    
    padding: 20px;
}

/* STOPKA */

@media (max-width: 1000px) {
  nav a {
    width: 30%;
  }
}







