* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  }
  
  body {
    background: url("../img/bacground.png");
  }
  
  .wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
  }
  
  /*MENU I BANER */
  header {
    width: 100%;
    margin-bottom: 150px;
  }
  
  
  nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #164a56;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .banner {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner_btn {
    width: 16%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 100px;
    background-color: #5cb47f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .banner_btn:hover {
    transform: scale(1.2);
  }
  
  
  nav > ul {
    list-style-type: none;
    display: flex;
  }
  
  nav > ul > li > a {
    color: white;
    text-decoration: none;
    margin-right: 70px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(92, 180, 127, 0.2);
    padding: 10px;
    border-radius: 100px;
  }
  
  nav > ul > li > a:hover {
    color: limegreen;
    border: 1px solid white;
  }
  
  .logo {
    width: 300px;
    border-bottom-right-radius: 50px;
    background-color: #164a56;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .logo h2 {
    padding: 0 0 0 90px;
  }
  
  .active {
    color: limegreen;
    border: 1px solid white;
  }
  /*MENU I BANER */
  
  /* GALERIA  */
  
  .gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery h2{
    margin-bottom: 20px;
  }

  .gallery hr{
    height: 6px;
    background: #5CB47F;
    border: none;
  }

  .slider {
    width: 800px;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
  }

  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .slides::-webkit-scrollbar-thumb {
    background: #164A56;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .slides::-webkit-scrollbar-track {
    background: transparent;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 800px;
    height: 500px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .gallery img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }

  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #5CB47F;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }

  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #164A56;
  }


  .gallery_down{
    width: 100%;
    margin-bottom: 100px;
    margin: 0 auto;
    text-align: center;
  }
  

  .gallery_down img{
    width: 300px;
    height: 300px;
    transition: all 1.2s ease-in-out;
    margin: 50px;
    border: 10px solid #5CB47F;
  }

  .gallery_down img:hover{
    transform: scale(1.3) rotate(360deg);
    cursor: pointer;
  }
  /* GALERIA  */


   /* STOPKA */
   footer {
    width: 100%;
    height: 275px;
    text-align: center;
    background-color: #091c20;
    color: #fff;
    font-size: 8pt;
    justify-content: center;
    align-items: center;
  }
  
  .footerwithtext {
    width: 100%;
    height: 275px;
    text-align: center;
    background-color: #091c20;
    color: #fff;
    font-size: 8pt;
    justify-content: center;
    align-items: center;
  }
  
  hr {
    border: 2px solid #5cb47f;
    padding: 3px;
    background-color: #5cb47f;
  }
  
  footer h1 {
  
      padding: 20px;
  }
  
  footer p {
      
      padding: 20px;
      font-size: 10pt;
  }
  
  /* STOPKA */
  
  @media (max-width: 1000px) {
    nav a {
      width: 30%;
    }
  }
    /* STOPKA  */
