/*style dla powtarzających się elemetów HTML */
.section_title {
    width: 100%;
    height: 60px;
    color: white;
    background-color: #5cb47f;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/*style dla powtarzających się elemetów HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

body{
    background: url('img/bacground.png');
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/*MENU I BANER */
header {
  width: 100%;
  height: 500px;
  background: url("img/photo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #164a56;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner_btn {
  width: 16%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 100px;
  background-color: #5cb47f;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.banner_btn:hover {
  transform: scale(1.2);
}

.logo {
  width: 210px;
  border-bottom-right-radius: 100px;
  background-color: #164a56;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  margin-right: 70px;
  font-size: 18px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(92, 180, 127, 0.2);
  padding: 10px;
  border-radius: 100px;
}

nav > ul > li > a:hover {
  color: #5cb47f;
}

.active {
  color: #5cb47f;
}
/*MENU I BANER */


/* SEKCJA 'CO ZYSKUJESZ' */
.co_zyskujesz {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.co_zyskujesz_box {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.co_zyskujesz_box_img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co_zyskujesz_box > p {
  margin-top: 20px;
  text-align: center;
}

/* SEKCJA 'CO ZYSKUJESZ' */


/* SEKCJA 'kRÓTKO O NAS' */
.textwithphoto {
  padding: 70px 20px 70px 20px;
  width: 100%;
  display: flex;
}

.textwithphoto img {
  width: 17%;
  height: 20%;
  float: left;
  padding: 0% 0% 0%;
}

.textwithphoto p {
  font-size: 12pt;
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: justify-all;
  line-height: 175%;
  color: black;
  display: flex;
  align-items: center;
}

/* SEKCJA 'kRÓTKO O NAS' */


/* SEKCJA 'PREZENTACJA SZKOŁY' */
.movie {
  width: 100%;
}

.movie img {
  width: 100%;
  height: 50%;
  padding: 5% 15% 5%;
  margin: -0% 2% 3.5% 0%;
}

/* SEKCJA 'PREZENTACJA SZKOŁY' */


/* STOPKA */
footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #091c20;
  color: #fff;
  font-size: 8pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STOPKA */

@media (max-width: 1000px) {
  nav a {
    width: 30%;
  }
}
